<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5>Username</h5>
    <% form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <h5>Email</h5>
    <% form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <h5>First Name</h5>
    <% form.label :fname %>
    <%= form.text_field :fname %>
  </div>

  <div class="field">
    <h5>Last Name</h5>
    <% form.label :lname %>
    <%= form.text_field :lname %>
  </div>

  <div class="field">
    <h5>Password</h5>
    <% form.label :password_digest %>
    <%= form.password_field :password_digest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
